<!-- This is a static file -->
<!-- served from your routes in server.js -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Welcome to News Feed Backedn Server</title>
    <link rel="stylesheet" href="/style.css">
    <!-- import the webpage's client-side javascript file -->
    <script src="/script.js" defer></script>
  </head>
  <body>
    <header>
      <h2>This is the backend server of News Feed project.</h2>
      
    </header>
    <h3> APIs are available for developer community to use.</h3>
    <ul id="apiList">
    </ul>
    <br>
    <hr>
    <i>Developed By:- Sardendubharti@gmail.com</i><br>
    <a href="https://sardendu-news-feed-app.glitch.me">Front End application link</a><br>
    <a href="https://www.nytimes.com/" target="_blank">New Yourk Times Link</a><br>
    <a href="https://developer.nytimes.com/" target="_blank">API Source</a><br>
  </body>
</html>
